/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Asterisk wildcard selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* generic styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;

}

/* Header */
header {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    box-shadow: 0 2px 2px #3a3a3a;
}

a {
    text-decoration: none;
    font-size: 100%;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 220%;
    padding-left: 20px;
}


/* Logo Style */
#logo {
    color: #3a3a3a;
}

#logo span {
    color: #CDAC84;
}

/* Navbar styles */
.navbar {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #3a3a3a;
    flex-basis: content;
    font-size: 20px;
}

.navbar>li {
    flex: 1 0 content;
    padding-right: 35px;
}

.active {
    border-bottom: 2px solid #CDAC84;
    padding-bottom: 3px;
}

/* Enlarge elements hovered by mouse*/
.navbar a:hover {
    display: inline-block;
    transform: scale(1.2);
}

/* Main */
main {
    /* Main element takes any surplus space and pushes footer down */
    flex: 1 0 auto;
    width: 100%;
    height: 84vh;
    margin-top: 8vh;
}

#hero-image {
    height: 100%;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
}

/* Styling of the main cover text */
#main-text {
    font-size: 130%;
    text-transform: capitalize;
    width: 80%;
    color: #ffffff;
    letter-spacing: 2px;
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 20px;
    left: 2vw;
    text-shadow: 2px 2px 5px #3a3a3a;
    background-color: rgba(205, 172, 132, 0.7);
    border-radius: 5px;
    padding-left: 5px;
    text-align: center;
}

/* Styling of About section at About us page */
#about {
    width: 90%;
    margin: 15px auto;
}

#about div {
    margin-bottom: 10px;
}

/* Style to stop overflow caused by images*/
#about img {
    width: 100%;
    border-radius: 5px;
}

#about p {
    padding: 0 5px;
}

#about h2 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    color: #CDAC84;
}

hr {
    border-top: 2px solid #3a3a3a;
    margin-bottom: 5px;
}

/* Style to take img up above footer*/
#goals img {
    margin-bottom: 22%;
}

/* Our Work Page */
.grid-container {
    display: flex;
    flex-wrap: wrap;
}

.grid-column img {
    width: 100%;
    line-height: 3vh;
}

.grid-column {
    line-height: 0;
}

/* Contact Us Page */
#contact-us {
    padding: 10px 10px 10px 10px;
    background-color: rgba(205, 172, 132, 0.7);
    margin: 15px;
    max-width: 400px;
}

#contact-us-form {
    max-width: 400px;
    line-height: 1.3em;
}

#contact-us-form input,
#contact-us-form textarea {
    width: 100%;
    border-radius: 3px;
    padding-left: 3px;
}

#comment-area {
    margin-top: 3px;
}

button {
    width: 80px;
    height: 30px;
    border-radius: 5px;
}

button:hover {
    background-color: #3a3a3a;
    color: #CDAC84;
}

/* Google Map */
#google-map {
    
}

#google-map iframe {
  width: 100%;
}

/* Footer */
footer {
    background-color: #ffffff;
    width: 100%;
    height: 7%;
    z-index: 98;
    box-shadow: 0 -2px 2px #3a3a3a;
    position: fixed;
    bottom: 0;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    font-size: 22px;
    width: 100%;
}

.footer a {
    color: #3a3a3a;
}

/* Enlarge footer icons for external links on mouse over */
.footer a:hover {
    display: inline-block;
    transform: scale(1.2);
}

/* Media query for screens of max 425px */
@media screen and (max-width: 426px) {

    /* h1 heading */
    header {
        align-content: center;
        padding-right: 8px;
    }

    h1 {
        font-size: 140%;
        align-items: center;
        padding: 15px;
    }

    /* Navbar */
    nav {
        position: absolute;
        background-color: #ffffff;
        width: 100%;
        top: 100%;
        text-align: left;
        box-shadow: 0 2px 2px #3a3a3a;
        display: none;
    }

    .navbar {
        display: block;
        padding-left: 1rem;
    }

    .navbar a {
        font-size: 90%;
        height: 8vh;
    }

    .navbar>li {
        padding-bottom: 8px;
    }

    /* Nav toggle */
    #nav-toggle:checked~nav {
        display: block;
    }

    #nav-toggle {
        display: none;
    }

    /* Footer */
    .footer {
        font-size: 100%;
    }
}
/* Media query for screens from 165px and larger*/
@media screen and (min-width: 165px) {
    #google-map iframe {
        min-height: 34.75vh;
    }
}

/* Media query for screens from 203px and larger*/
@media screen and (min-width: 203px) {
    #google-map iframe {
        min-height: 37.832vh;
    }
}

/* Media query for screens from 338px and larger*/
@media screen and (min-width: 338px) {
    #google-map iframe {
        min-height: 40.914vh;
    }
}

/* Media query for screens from 426px to 768px */
@media screen and (min-width: 426px) {

    /* h1 heading */
    h1 {
        font-size: 170%;
        padding-left: 20px;
    }

    /* Hide drop-down menu */
    #nav-toggle {
        display: none;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Navbar */
    .navbar a {
        font-size: 90%;
    }

    .navbar>li {
        padding-right: 20px;
    }

    /* Footer */
    .footer {
        font-size: 100%;
    }
}

/* Media query for screens of 768px width and bigger*/
@media screen and (min-width: 768px) {

    /* h1 heading */
    h1 {
        font-size: 180%;
        padding-left: 20px;
    }

    /* Hide drop-down menu */
    #nav-toggle {
        display: none;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Navbar */
    .navbar a {
        font-size: 90%;
    }

    /* Styling of the main cover text */
    #main-text {
        width: 35%;
        top: 50px;
        font-size: 150%;
        left: 5vw;
    }

    /* Style to take img up above footer (about us page)*/
    #goals img {
        margin-bottom: 10%;
    }

    /* Our Work Page */
    .grid-column {
        flex: 50%;
        max-width: 50%;
    }

    /* Footer */
    .footer {
        font-size: 120%;
    }
}

/* Media query for screens of 992px width and bigger*/
@media screen and (min-width: 992px) {

    /* Styling of the main cover text */
    #main-text {
        font-size: 170%;
    }

    /* About Us page Styles*/
    #about>div {
        /* Use flex property to align text-image in row direction */
        display: flex;
        flex-flow: row nowrap;
    }

    #about {
        margin: 20px 0 20px 45px;
    }

    #who div,
    #how div,
    #goals div {
        width: 50%;
    }

    #about p {
        font-size: 125%;
    }

    #about img {
        margin-top: 7%;
    }

    hr {
        margin-right: 10px;
    }


    /* styles to change the order of elements inside #how div */
    .div-right {
        order: 2;
        margin-left: 10px;
        text-align: right;
    }
}

/* Media query for screens of 1200px width and bigger*/
@media screen and (min-width: 1200px) {

    /* h1 heading */
    h1 {
        font-size: 220%;
        padding-left: 20px;
    }

    /* Navbar */
    .navbar a {
        font-size: 120%;
    }

    /* Styling of the main cover text */
    #main-text {
        font-size: 250%;
        width: 30%;
        top: 100px;
        left: 5vw;
    }

    /* Styling About Us Page */
    #about p {
        font-size: 170%;
    }

    #about h2 {
        font-size: 200%;
    }

    #about {
        margin: 20px 0 20px 60px;
    }

    /* Our Work Page */
    .grid-column {
        flex: 25%;
        max-width: 25%;
    }


    /* Footer */
    .footer {
        font-size: 140%;
    }
}

/* Media query for screens of 1800px width and bigger*/
@media screen and (min-width: 1800px) {

    /* About Page Styles */
    #about {
        margin: 20px 0 20px 90px;
    }

    #about img {
        margin-top: 5%;
    }

    #about p {
        font-size: 190%;
    }

    #about h2 {
        font-size: 220%;
    }
}

/* Media query for screens of 2560px width and bigger*/
@media screen and (min-width: 2560px) {

    /* About Page Styles */
    #about {
        margin: 20px 0 20px 128px;
    }

    #about img {
        margin-top: 4.5%;
    }

    #about p {
        font-size: 210%;
    }

    #about h2 {
        font-size: 250%;
    }
}