/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Asterisk wildcard selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* generic styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;

}

/* Header */
header {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8vh;
    padding-left: 20px;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    box-shadow: 0 2px 2px #825;
}

a {
    text-decoration: none;
    font-size: 100%;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 220%;
}


/* Logo Style */
#logo {
    color: #3a3a3a;
}

#logo span {
    color: #825;
}

/* Navbar styles */

.navbar {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #3a3a3a;
    flex-basis: content;
    font-size: 20px;
}

.navbar>li {
    flex: 1 0 content;
    padding: 0 50px;
}

/* Enlarge elements hovered by mouse*/

.navbar a:hover {
    display: inline-block;
    transform: scale(1.2);
}

/* Main */
main {
    background-color: palevioletred;
    /* Main element takes any surplus space and pushes footer down */
    flex: 1 0 auto;
    width: 100%;
    margin-top: 8vh;
}



/* Footer */
footer {
    background-color: #ffffff;
    width: 100%;
    height: 7%;
    z-index: 98;
    box-shadow: 0 -2px 2px #825;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    height: inherit;
    font-size: 22px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #3a3a3a;
}

/* Enlarge footer icons for external links when hovered by mouse */

.footer a:hover {
    display: inline-block;
    transform: scale(1.2);
}
